
# =========================
# GLOBAL
# =========================

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# =========================
# FRONTEND
# =========================


# =========================
# BACKEND
# =========================


# =========================
# IOT / PLATFORMIO
# =========================

# see IoT/.gitignore

# =========================
# DOCKER
# =========================

